*{

}
body{
  font-size: 12px;
}
.goku{
  display:block;
  margin: 40px auto;
  width: 400px;
  /* box-shadow: 0px 0px 89px yellow; */
  filter: drop-shadow(0px 0px 10px yellow);
  

}
.spidy{
  display: block;
  margin: 0 auto;
  width: 350px;
  border: solid 4px gray;
  box-shadow: 2px 3px 5px black;
  
}
h1{
  color: crimson;
  margin: 15px auto;
}
.cajas{
  background-color: #0000;
  margin: 0 auto;
  width: 350px;
 font-size: 1rem;
  border: solid 4px gray;
  place-content: center;
  text-align: center;
   box-shadow: 2px 3px 5px black;
  
} 
button{ 
  background-color: crimson;
  color:#fff;
  width: 200px;
height: 38px;
padding:10px;
display:block;
margin:25px auto ;
border-radius: 7px;
width: 148px;
place-content: center;
text-align: center;
}
h3